{% extends "base_generic.html" %}

{% block title %}Add Music to Folder{% endblock %}

{% block content %}
  <h2>Add Music to {{ folder.name }}</h2>
  <form method="post">
    {% csrf_token %}
    {% for music in music_tracks %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="music" value="{{ music.pk }}" id="music{{ music.pk }}">
        <label class="form-check-label" for="music{{ music.pk }}">
          {{ music.title }} by {{ music.artist }}
        </label>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
{% endblock %}
